body{
    padding:0;
    margin:0;
}
h1{
    text-align: center;
    color:rgb(2, 2, 130);
}
.main_box{
    display: flex;
    flex-direction: column;

}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.Filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    padding:20px 0;
}
.Filters .filter-label{
display: flex;
flex-direction: column;
padding:0;
margin:0;
}
.Filters .filter-label label{
    padding:10px;
    text-align: center;
    color:rgb(46, 9, 3);
}
.Filters .number{
display: flex;
flex-direction: column;
align-items: center;
padding:0;
filter: brightness();
margin:0;
}
.Filters .number p{
    color:rgb(249, 40, 8);
    padding:10px;
    margin:0;
}
.Filters input{
    width:80%;
    padding:10px;
    margin :auto;
}
.photos{
    display: flex;
    width:100%;
    margin:auto;
    padding:10px 0;
}
.images{
    margin:auto;
    display: flex;
    position: relative;
}
.images img{
    width:90%;
    height: 260px;
    margin:auto;
}
.images .select{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:none;
    width:200px;
    background: #000;
    border:1px solid black;
}
.button_box{
    display: flex;
    justify-content:space-around;
    padding:7px;
}
.button_box button{
    padding: 4px  10px;
    outline:none;
    border:none;
    box-shadow: 1px 1px 4px grey;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: capitalize;
}
.button_box button:hover{
  color:aqua;
  background: #181111;
}
.button_box button:active{
    outline: 1px solid black;
}